<br-footer>
  <br-footer-logo slot="logo" src="cnpq_logo_negativo.png" description="Logo do portal CNPq" />
  <br-footer-category href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao" label="Acesso à informação">
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/institucional">Institucional</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/acoes-e-programas">Ações e Programas</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/participacao-social">Participação Social</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/convenios-e-transferencias">Convênios e Transferências</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/receitas-e-despesas">Receitas e Despesas</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/licitacoes-e-contratos">Licitações e Contratos</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/copy_of_auditorias-1">Auditorias</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/servidores">Servidores</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/informacoes-classificadas-1">Informações Classificadas</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/servico-de-informacao-ao-cidadao">Serviço de Informação ao Cidadão</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/perguntas-frequentes">Perguntas Frequentes</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/dados-abertos">Dados Abertos</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/bolsas-e-auxilios">Bolsas e Auxílios</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/normas-1">Base Jurídica</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/http://memoria2.cnpq.br/web/guest/normas?p_p_id=normascnpqportlet_WAR_normascnpqportlet_INSTANCE_yUx3jBhkd0TD&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-2&p_p_col_pos=1&p_p_col_count=2&nomeCategoriaPai=inst_servicos&codigoCategoriaPai=219452&nomeCategoria=inst_servicos&codigoCategoria=219452&modo=pai">Normas</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/corregedoria">Corregedoria</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/planejamento-e-governanca">Planejamento, Governança e Orçamento</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/auditorias">Relatórios de Gestão</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/pdtic">PDTIC</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/acesso-a-informacao/cgu">CGU</br-footer-item>
  </br-footer-category>
  <br-footer-category label="Assuntos">
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/assuntos/noticias">Notícias</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/assuntos/popularizacao-da-ciencia">Popularização da Ciência</br-footer-item>
    <br-footer-item href="https://centrodememoria.cnpq.br/cmemoria-index.html">Centro de Memória</br-footer-item>
  </br-footer-category>
  <br-footer-category label="Canais de Atendimento">
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/canais_atendimento/fale-conosco">Central de Atendimento</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/canais_atendimento/imprensa">Assessoria de Comunicação Social</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/canais_atendimento/identidade-visual">Marca do CNPq</br-footer-item>
  </br-footer-category>
  <br-footer-category label="Centrais de Conteúdo">
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/centrais-de-conteudo/fotografia">Fotografia</br-footer-item>
    <br-footer-item href="https://soundcloud.com/user-349483946">Áudios</br-footer-item>
    <br-footer-item href="https://www.youtube.com/cnpqoficial">Vídeos</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/centrais-de-conteudo/publicacoes">Publicações</br-footer-item>
  </br-footer-category>
  <br-footer-category label="Composição">
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/diretoria-executiva-1">Diretoria Executiva</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/comites-de-assessoramento">Comitês de Assessoramento</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/comissao-de-integridade">Comissão de Integridade na Atividade Científica</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/comissao-de-etica">Comissão de Ética</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/conselho-deliberativo">Conselho Deliberativo</br-footer-item>
    <br-footer-item href="https://www.gov.br/cnpq/pt-br/composicao/quem-e-quem">Quem é Quem</br-footer-item>
  </br-footer-category>
  <br-footer-social
    slot="social-network"
    description="Facebook"
    href="https://www.facebook.com/cnpqoficial"
    ><i
      slot="icon"
      class="fab fa-facebook-f"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <br-footer-social
    slot="social-network"
    description="Twitter"
    href="https://www.twitter.com/CNPq_Oficial"
    ><i
      slot="icon"
      class="fab fa-twitter"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <br-footer-social
    slot="social-network"
    description="Linkedin"
    href="https://www.linkedin.com/company/cnpq"
    ><i
      slot="icon"
      class="fab fa-linkedin-in"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <br-footer-social
    slot="social-network"
    description="Whatsapp"
    href="https://www.whatsapp.com"
    ><i
      slot="icon"
      class="fab fa-youtube"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <br-footer-social
    slot="social-network"
    description="Instagram"
    href="https://www.instagram.com/cnpq_oficial"
    ><i
      slot="icon"
      class="fab fa-instagram"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <br-footer-social
    slot="social-network"
    description="Flickr"
    href="https://www.flickr.com/cnpqoficial"
    ><i
      slot="icon"
      class="fab fa-flickr"
      aria-hidden="true"
    ></i
  ></br-footer-social>
  <!-- <br-footer-logo
    slot="partner-logo"
    is-partner
    src="assets/logo-negative.svg"
  ></br-footer-logo>
  <br-footer-logo
    slot="partner-logo"
    is-partner
    src="assets/logo-negative.svg"
  ></br-footer-logo> -->
  <br-footer-legal slot="legal">
    <div class="tw:flex tw:flex-col tw:gap-2 tw:items-center tw:justify-center tw:text-center">
      <img src="CNPq_MCTI_bottom_logo_2.png" alt="Logo do CNPq" class="tw:w-auto tw:h-auto" />
      <span>CNPq - Conselho Nacional de Desenvolvimento Científico e Tecnológico</span>
      <span>Setor de Autarquias Sul (SAUS), Quadra 01, Lote 1 e 6, Bloco H, Edifício Telemundi II - Asa Sul, Brasília - DF, CEP: 70.070-010</span>
    </div>
  </br-footer-legal>
</br-footer>